<mat-toolbar>
    <button mat-icon-button class="example-icon" id="menuSecciones" [matMenuTriggerFor]="seccion">
        <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #seccion="matMenu">
        <button mat-menu-item routerLink="/inicio">Inicio</button>
        <button mat-menu-item [matMenuTriggerFor]="productos">Productos</button>
    </mat-menu>
    <span>My App</span>
    <!-- Inicio de la pagina -->
    <button mat-button routerLink="/inicio" id="menuInicio">Inicio</button>

    <!-- Productos -->
    <button mat-button [matMenuTriggerFor]="productos" id="menuProductos">Productos</button>
    <mat-menu #productos="matMenu">
        <button mat-menu-item routerLink="/productos">General</button>
        <button mat-menu-item routerLink="/rareza">Rareza</button>
        <button mat-menu-item routerLink="/tipo">Tipo</button>
        <button mat-menu-item routerLink="/tienda">Tienda</button>
    </mat-menu>

        <!-- Botones con iconos -->
    <span class="example-spacer"></span>

      <!-- Inicio de sesion y el registro del nuevo usuario -->
    <button mat-button [matMenuTriggerFor]="usuario"><mat-icon>account_circle</mat-icon></button>
        <!-- Menu desplegable para manejar todo el acceso de lo susuarios en la pagina -->
    <mat-menu #usuario="matMenu">
        <button mat-menu-item (click)="Iniciar()" *ngIf="logueado" routerLink="/registro">Registrarse</button>
        <button mat-menu-item (click)="Iniciar()" *ngIf="logueado" routerLink="/inicio-sesion">Iniciar sesion</button>
        <button mat-menu-item (click)="Cerrarsesion()" *ngIf="deslogueado" >Cerrar Sesion</button>
    </mat-menu>

      <!-- Carrito -->
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <mat-icon>shopping_cart</mat-icon>
    </button>
</mat-toolbar>